@import '../../app.scss';

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: #000000;
  // background: linear-gradient(180deg, #030309, #000000);
  position: relative;

  .wrapper {
    // max-width: 966px; /*for larger screen*/
    max-width: 820px; /*for smaller screen*/
    height: 100%;
    margin: auto;

    .textContainer {
      // width: 50%; /*for larger screen*/
      width: 60%; /*for smaller screen*/
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        // font-size: 30px; /*for larger screen*/
        font-size: 28px; /*for smaller screen*/
        color: rebeccapurple;
        letter-spacing: 10px;
      }

      h1 {
        // font-size: 76px; /*for larger screen*/
        font-size: 62px; /*for smaller screen*/

        @include mobile {
          font-size: 36px;
        }
      }

      .buttons {
        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
        }
        .contactMe {
          background-color: white;
          color: #000000;
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include mobile {
      height: 50%;
      width: 100%;
      top: unset;
      bottom: 0;
    }

    // img {
    //   max-height: 100%;
    //   width: auto;
    // }

    .imageWrapper {
      position: relative;
      height: 100%;
      // background-color: rgba(255, 255, 255, 0.1);
      // background: rgba(36, 36, 36, 0.5);
      background: rgba(29, 35, 21, 0.4);
      // backdrop-filter: saturate(180%) blur(40px);
      padding: 10px 5px 0px 5px;
      // padding-bottom: 0px;
      border-radius: 50px;

      img.profilePic {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: relative;
      }

      img.signature {
        margin-right: -5px;
        // background-color: #000000;
        top: 435px;
        right: 40px;
        height: 30%;
        width: 30%;
        // object-fit: cover;
        z-index: 999;
        position: absolute;
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    // bottom: -120px; /*for larger screen*/
    bottom: -80px; /*for smaller screen*/
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.045);
    background-color: transparent;
    width: 50%;
    font-weight: bold;
  }
}
